    {% extends 'base.html.twig.' %}
{% block title %}AboutUs{% endblock %}

{% block body %}
    {# <div class="container">
    <h2 class="md-title text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;    -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-text-size-adjust: 100%;box-sizing: border-box;font-weight: 500;vertical-align: baseline;background: transparent; font-family: inherit;text-align: center;text-transform: uppercase;color: #3a3f53;line-height: 1;margin-bottom: 60px;  margin-top: 60px;font-size: 42px;
   ">
   <b>Our Story</b>
   </h2> #}
   <div class="container" style="margin-top: 40px;">
        <div class="row">
        <div class="col-sm-4">
            <img src="{{ asset('images/logo.png') }}" style = "width:100%" alt="">
            {# <img src="<?php echo BASE_URL ?>/public/css/trang-chu/img/log1.png" alt="" style = "width:100%;"> #}
        </div>
        <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-12">
                        <h2>EVERYTHING ABOUT NO5MOBILE</h2>
                        
   <p style = "text-align:justify;">NO5MOBILE – Shop system, SMARTPHONE shopping website in Da Nang, with the mission of bringing "new technology" closer to young people in Da Nang, we are committed to bringing smart smartphones with the best price and good quality from many brands. brands big, small and also in Vietnam. Having undergone careful selection stages to match the general trend prevailing around the world. <br> <br>

Officially operating from 2022, with relentless efforts and efforts, up to now, NO5MOBILE has marked itself in a solid position in the smartphone world in the young Central market. this. 2 years of construction and development, 2 stores and showrooms were born, both located in the central areas of Da Nang city. In the near future, NO5MOBILE will continue to expand another branch located in "smartphone street" - Hoang Dieu - Da Nang. Right now, let's learn a little about this "big" branch!</p></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                        <h4>BRAND OF NO5 MOBILE</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style=" border-right:double #c30005 5px">
            <b>CN1: 658 Ngô Quyền - Sơn Trà - Đà Nẵng</b><br>
            <p style = "text-align:justify;margin-top:10px;">Born in early 2022, being the first child, is the starting milestone for the process of "reaching out to the big sea" of the NO5MOBILE brand. Although, the showroom space is not really large at this time, the product lines, models and designs are still limited. At the same time, customer care and support services are still lacking a lot. However, all our tireless efforts have finally paid off well…….</p>            </div>
            <div class="col-sm-6">
            <b>CN2: 585 Ngô Quyền - Sơn Trà - Đà Nẵng </b><br>
            <p style = "text-align:justify;margin-top:10px;">……7 months have passed, a "big" Showroom continues to follow in the footsteps of his toddler brother who set foot in Da Nang city. More complete, stronger, extremely large space with separate product subdivisions spread over an area of ​​more than 50m2. In order to "popularize" widely modern high-tech phone equipment for young people in the Central region, and at the same time, become a place to shop for good-priced phones not to be missed in the center of Da Nang.</p>
            </div>
        </div>

        </div>
        </div> <br><br>


        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <b>Free Ship</b> <br>  
                    Shop free shipping for all orders over 5,000,000 VND. Fast delivery and ensure intact goods for customers!</div>
                                </div><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <b>100% new product</b> <br>  
                    Products at shop guaranteed to be 100% new products and imported from reputable brands nationwide and around the world.</div>
                </div><br>
                <div class="row">
                <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <b>Genuine goods</b> <br>  
                    Products at the shop are guaranteed to be genuine products and are imported from reputable brands nationwide and around the world.</div>
                </div><br>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <b>Return within 7 days</b> <br>  
Shop has a return policy within 7 days for customers wishing to return products quickly and enthusiastically</div>
                </div><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <b>Customer care</b> <br>  
                    Customer Care mode at the shop dedicated, enthusiastic support and attentive service.Meet the needs of every customer ! </div>
                </div><br>
                <div class="row">
                <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <b>Diversified payments</b> <br>  
Pay at a variety of shops by paying cash or using cards such as VISA, MASTER CARD,....</div>
                </div><br>
            </div>
            </div>
    </div>
{% endblock %}