{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
<h1>HIHI !</h1>
<h5>Cảm ơn bản đã đánh giá, chúng tôi đã ghi nhận phản hồi của bạn. Chúng tôi sẽ liên lạc với bạn trongh thời gian sớm</H5>
 <a type="button" class="btn btn-primary" href="{{ path('app_product_home') }}" class="nav-link active" aria-current="page">Click vào đây để quay trở lại Home</a> </li></li>    
{% endblock %}