    {% extends 'base.html.twig.' %}
{% block title %}Contact{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px;padding-left:0px;">
        <div class="row">
            <div class="col-md-6">
                <div class="lienhe">

                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td colspan=3><h3>Contact Info</h3></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td>658 Ngô Quyền - Sơn Trà - Đà Nẵng</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Phone Number: </td>
                            <td>0909009009</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Website: </td>
                            <td>No5Mobile</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>Care call center: </td>
                            <td>0908098890</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>FACEBOOK: </td>
                            <td><span style="background-color: white; 
                            color: #404040; 
                            font-family: Arimo, Tahoma, Arial; 
                            font-size: 17px;">&nbsp;
                            </span><a  href="https://www.facebook.com/41haha" id="single-theme-download" style="background: rgb(26, 107, 178); border: none; box-sizing: inherit; color: white; display: inline-block; font-family: &quot;Hammersmith One&quot;, Tahoma, Arial; font-size: 1.125rem; margin: 0px 0.3em 10px 0px; padding: 0.4em 1.6em; text-decoration-line: none; text-transform: uppercase; transition: all 0.3s ease;">Click Here To Go To FACEBOOK Profile</a></td>
                            <td>.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form">
                    <table>
                        <tr>
                            <td><input type="email" class="form-control" id="email" placeholder="FullName" name="email"></td>
                            <td><input type="email" class="form-control" id="email" placeholder="Enter email" name="email"></td>
                        </tr>
                        <tr>
                        <td><input type="email" class="form-control" id="email" placeholder="Enter the phone number" name="email"></td>
                        <td><input type="email" class="form-control" id="email" placeholder="Enter the address" name="email"></td>
                        </tr>
                        <tr>

                            
                            <td colspan = 2><textarea class="form-control" rows="5" id="comment" placeholder="Comments"></textarea></td>
                        </tr>
                        <tr>

                            <td><br><button type="button" class="btn btn-danger">Send</button> </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="margin-top: 40px;">
        <div class="row">
            <div class="col-md-12">
                <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.677267302217!2d108.23374841477815!3d16.082228688872974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421820f41ac5b7%3A0x4c5f5c4abc7a1212!2zNjU4IE5nLiBRdXnhu4FuLCBBbiBI4bqjaSBC4bqvYywgU8ahbiBUcsOgLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1661168447743!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}